/* ----------------- */
/*      Root         */
/* ----------------- */
:root {
    --qr-background: #F2F5F9;
    --qr-circle: #F8FAFC1A;
    --text-color: #FAFAF9;
    --primary-button: #263FA9;
    --input-background: #030616;
    --primary-background: #111629;

}

/* ----------------- */
/*   Basic Style     */
/* ----------------- */

/* Universal Tag */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    transition: all 0.3s ease-in-out;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    
    background-color: var(--primary-background);

    height: 100vh;
    overflow: hidden;
}
body, html {
    overflow-x: hidden;
    width: 100%;
}

main {
    background-image: url(../images/qa-bg-small.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 150%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0px 1rem;

    height: 100%;
    width: 100vw;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 1rem;
}
.logoContainer {
    background-image: url(../images/Logo-small.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 20rem;
    height: 2rem;
}
form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;

    background-color: var(--input-background);
    border: 2px solid var(--primary-button);
    border-radius: 1em;
    padding: 4px;

    width: 100%;
}
input {
    flex: 1;
    min-width: 0px;

    font-size: 1rem;
    padding-left: 0.8rem;
    padding-right: 0.3rem;

    outline: none;
    
    color: var(--text-color);
    background-color: var(--input-background);
}
input::placeholder {
    color: var(--text-color);
}

button {
    flex-shrink: 0;
    white-space: nowrap;
    padding: 1em 2em;

    color: var(--text-color);
    background-color: var(--primary-button);

    border-radius: 1em;
}
button:hover {
    cursor: pointer;
}
/* ------------------------- */
/*      QR Container         */
/* ------------------------- */
.qrContainer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.qrLogo {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../images/Logo-small.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    height: 2rem;
    aspect-ratio: 19/4;

    padding: 1em;

    position: absolute;
    top: 7vh;
    left: 50%;
    transform: translateX(-50%);
}
.qrScanContainer {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
.qrCircle {
    background-color: var(--qr-circle);
    width: 15rem;
    aspect-ratio: 1/1;
    border-radius: 50%;

    position: absolute;
    z-index: 1;
}
.qrimage {
    background-image: url(../images/Screenshot\ 2025-07-07\ 134447.png);

    width: 11.7rem;
    aspect-ratio: 1/1;

    position: relative;
    z-index: 2;

    border: 1rem solid var(--qr-background);
    border-radius: 1em;
    padding: 0.5rem;
}
.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

    position: absolute;
    bottom: 10vh;
}
.btnLogo {
    display: flex;
    gap: 1em;
}